<ul id="post-list">
  {% for post in paginator.posts %}
  <li>
    <article>
      {% if post.microblog == true %}
      <section class="post-body">
        {{ post.content }}
      </section>
      {% else %}
      <header>
        <h2><a href="{{ site.baseurl }}/{{ post.url | remove_first: '/' }}">{{ post.title }}</a></h2>
      </header>
      <section class="post-body">
        {{ post.content }}
      </section>
      {% endif %}
      <a href="{{ site.baseurl }}/{{ post.url | remove_first: '/' }}" class="u-url">
        <aside class="dates">
          <time datetime="{{ post.date }}" class="dt-published">→ {{ post.date | date:"%-I:%M %p, %b %-d" }}</time>
        </aside>
      </a>
    </article>
  </li>
  <span class="separator"><span class="divider"></span></span>
  {% endfor %}
</ul>

{% if paginator.previous_page or paginator.next_page %}
  {% include pagination.html %}
{% endif %}
