<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="{{ .Site.Author.name }}" name="author">

  <title>
      {{- block "title" . -}}
		{{- .Site.Title -}}
		{{- if and .Title (ne .Title .Site.Title) }}
		- {{ .Title }}
		{{- end -}}
      {{- end -}}
  </title>

  <link href="{{ "assets/css/style.css" | relURL }}?{{ .Site.Params.theme_seconds }}" rel="stylesheet">
  <link href="{{ "assets/css/highlight.css" | relURL }}?{{ .Site.Params.theme_seconds }}" rel="stylesheet">

	{{ partial "microblog_head.html" . }}
</head>
